//Declared 3 variables which i can easily use globally anywhere i just have to import it

// First add a " ; " symbol then name the variable and then put what ever you want to final we close the variables with semi colon " ; "

$textcolor:rgb(164, 206, 193);
$primarybutton:rgb(95, 199, 112);
$maincolor:rgb(235, 15, 125);